/* start custom scss snippet */

a, a:link, a:visited {
    color: #467499
}

.header a, .header a:link, .header a:visited {
    color: black;
}

.header a:hover {
    color: #467499
}

.root[data-is-touch="false"] a:hover {
    color: #fca24d;
}

.github-link {
    height: 25px;
    width: 10%;
}

.coding-item h4 {
    margin-bottom: 0;
}
.github-info p {
    margin-top: 0;
    margin-bottom: 0;
}
.coding-item {
    min-height: 20em;
    overflow: hidden;
}

.coding-item img {
    width: 350px;
    height: 250px;
}


// .root[data-is-touch] .site-tags .tag-button-* {
//     color: #fff;
//     background-color: #fca24d;
//     box-shadow: 0 0 0 2px rgba(252, 162, 77, 0.4);
// }

// .site-tags .tag-button-4, .site-tags .tag-button-4:link, .site-tags .tag-button-4:visited {
//     color: #fff;
//     background-color: #fca24d;
// }

.header {
    background: white;
    // background: #f7a236b0
}

.footer {
    background: white;
    // background: #f7a236b0
}

/* end custom scss snippet */
